<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyek_mobcomp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyek_Mobcomp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SellerKategoriPalingLakuActivity"
            android:exported="false" />
        <activity
            android:name=".SellerMutasiSaldoActivity"
            android:exported="false" />
        <activity
            android:name=".SellerPendapatanActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMutasiSaldoActivity"
            android:exported="false" />
        <activity
            android:name=".AdminConfWithdrawDetailActivity"
            android:exported="true" />
        <activity
            android:name=".AdminConfTopUpDetailActivity"
            android:exported="true" />
        <activity
            android:name=".SellerProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SellerDetailTransaksiActivity"
            android:exported="true" />
        <activity
            android:name=".AdminUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SellerAddEditBarangActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerTopUpSaldoActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerDetailPurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerSearchActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerDetailProduct"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".SellerActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerHomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>